{%load static%}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Resumen rango fechas</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/css/Navbar-Right-Links.css'%}">
    <link rel="stylesheet" href="{% static 'css/css/styles.css'%}">
</head>

<body>
<button type="button" id="boton_rango" style="display: none" onclick="genera_pdf_rango_fechas()"> hola</button>
    <nav class="navbar navbar-light navbar-expand-md py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bezier">
                        <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"></path>
                        <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"></path>
                    </svg></span><span>Resumen rango fechas</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2"></div>
            <ul class="navbar-nav">
                <input onchange="cargarXML(event)" type="file" id="my_file" style="display: none" accept="text/xml">
                <li class="nav-item"><a class="nav-link" href="#" id="get_file">Cargar xml</a></li>
                 <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Peticiones</a>
                        <div class="dropdown-menu">
                            <a href="/obtieneultimoregistro/" class="dropdown-item">Consultar Datos</a>
                            <a href="/resumen_fecha/" class="dropdown-item">Resumen de clasificación por fecha</a>
                            <a href="/info_resumen_rango_fecha/" class="dropdown-item">Resumen por rango de fechas</a>
                            <a href="#" class="dropdown-item" id="reporte_rango">Reporte en PDF</a>
                            <a href="/mensaje_prueba/" class="dropdown-item">Prueba de mensaje</a>
                        </div>
                </li>
                 <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Ayuda</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Información del estudiante</a>
                            <a href="#" class="dropdown-item">Documentación del software</a>
                        </div>
                </li>

            </ul>
        </div>
    </nav>

    <form action="/resumen_rango_fechas/" , method="POST">
        {% csrf_token %}
        <button type="submit" style="position: absolute; top: 600px; left: 400px">Obtener resumen</button>
        <select id='select_empresa' style="position: absolute; top: 300px; left: 200px">
            <option value='all_enterprises'>Todas las empresas</option>
            <option value='none_enterprises'>Única empresa</option>
        </select>

        <label style="position: absolute; top: 403px; left: 290px">Fecha inicial:</label>
        <label style="position: absolute; top: 503px; left: 290px">Fecha final:</label>
        <input type='text' name='campo_empresa' id='campo_empresa' style="position: absolute; top: 300px; left: 400px" disabled />
        <input type="date" id="low_date" name="low_date" style="position: absolute; top: 400px; left: 400px">
        <input type="date" id="high_date" name="high_date" style="position: absolute; top: 500px; left: 400px">
</form>
    <canvas id="grafica" width="600" height="400" style="position: absolute; left: 900px; top: 260px"></canvas>

    <script>

        mensajes_total = {{total}}
        mensajes_positivos = {{positivos}}
        mensajes_negativos = {{negativos}}
        mensajes_neutros = {{neutros}}
        fecha = "{{date}}"
        empresa = "{{empresa}}"

        var graph = document.getElementById("grafica").getContext("2d");

        var Data = {
    labels: [
        "Total",
        "Positivos",
        "Negativos",
        "Neutros"
    ],
    datasets: [{
        label: "data",
        data: [mensajes_total, mensajes_positivos, mensajes_negativos, mensajes_neutros],
        backgroundColor: ["blue", "green", "red", "gray"],
    }]
};

        var MeSeChart = new Chart(graph, {
    type: 'horizontalBar',
    data: Data,
    options: {
        responsive: false,
        maintainAspectRatio: true,
        scales: {
            xAxes: [{
                ticks: {
            		beginAtZero: true
                }
            }],
            yAxes: [{
            	stacked: true
            }]
        },
        title: {
        display: true,
        text: 'Cantidad de mensajes de la fecha: ' + fecha + " y la empresa: " + empresa
      }
    }
});





    </script>

<script src="{% static 'css/bootstrap/js/bootstrap.min.js'%}"></script>
<script src="{% static 'css/bootstrap/js/funciones.js'%}"></script>
<script>
var myselect = document.getElementById('select_empresa');


myselect.onchange = function() {
    var mytextfield = document.getElementById('campo_empresa');
    if (myselect.value == 'all_enterprises'){
        mytextfield.value = '';
        mytextfield.disabled = true;
    }else {
        mytextfield.value = '';
        mytextfield.disabled = false;
    }
}


</script>
</body>

</html>

